.unordered-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-block: 8px;

  width: 100%;

  height: fit-content;

  & > .list-item {
    --extra-padding-left: 0px;
    & > .list-item-content {
      position: relative;

      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 12px;

      text-decoration: none;
      text-align: left;
      font-size: 15px;
      font-weight: 600;
      font-style: normal;

      width: 100%;
      height: fit-content;

      padding-block: 12px;
      padding-inline: calc(18px + calc(var(--extra-padding-left)));

      &.active {
        background: color-mix(in srgb, var(--text-0), transparent 85%)
      }

      &.clickable {
        cursor: pointer;
        user-select: none;
        transition: background .2s;

        &:hover {
          background: color-mix(in srgb, var(--text-0), transparent 85%)
        }
      }

      & > .list-item-icon {
        vertical-align: center;
        font-variation-settings: 'FILL' 1, 'wght';
      }

      & > .list-item-action {
        margin-left: auto;
      }
    }

    & > .list-item-sub {
      padding-top: 0;

      --temp: var(--extra-padding-left);

      & .list-item {
        --extra-padding-left: calc(var(--temp) + 18px) !important;
      }
    }
  }
}