.checkbox {
  input {
    appearance: none;
    opacity: 0;
    pointer-events: none;
  }

  position: relative;
  cursor: pointer;

  display: block;

  background: transparent;
  --border-color: var(--muted-bg);
  --inner-border-size: 0;
  outline: 1px solid var(--border-color);
  border-radius: 2px;

  width: var(--size);
  height: var(--size);

  margin: 0;
  padding: 0;

  transition: background .2s ease-in-out, box-shadow .2s ease-in-out;

  box-shadow: inset 0 0 0 var(--inner-border-size) var(--border-color);

  user-select: none !important;
  * {
    user-select: none !important;
  }

  &:hover:not(.disabled) {
    --inner-border-size: 2px;
  }

  &.checked {
    --border-color: var(--color);
    background: var(--color);
  }

  & .checked-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    background: transparent;

    width: var(--size);
    height: var(--size);
    font-weight: bold;
    color: var(--check-color);
    margin: 0;

    scale: 1 !important;

    pointer-events: none;
    font-size: var(--size) !important;
    user-select: none;
    user-drag: none;

    transform: translate(-50%, -50%);
  }

  &.disabled {
    opacity: 0.3;
    cursor: default;
    --color: var(--muted-bg);
    --check-color: var(--muted-fg);

    & + .checked-icon {
      color: var(--gray-0);
    }
  }

  &.small {
    --size: 1rem;
  }

  &.medium {
    --size: 1.42rem;
  }

  &.large {
    --size: 2rem;
  }
}
