.checkbox {
  position: relative;
  width: fit-content;
  height: fit-content;

  &.small {
    --size: 14px;
  }

  &.medium {
    --size: 20px;
  }

  &.large {
    --size: 28px;
  }

  &:not(.disabled) + *,
  &:not(.disabled) {
    cursor: pointer;
  }

  &:not(.checked) .checkbox-internal {
    background: transparent;
    border: 2px solid var(--gray-5);
  }

  &.checked .checkbox-internal {
    border: 2px solid var(--color);
    background: var(--color);
  }

  &.disabled .checkbox-internal {
    opacity: 0.3;
    --color: var(--gray-5);
    filter: brightness(95%);
    cursor: default;

    & + .checked-icon {
      color: var(--gray-0);
    }
  }

  & .checkbox-internal {
    display: block;

    input {
      appearance: none;
      opacity: 0;
      pointer-events: none;
    }

    width: var(--size);
    height: var(--size);

    margin: 0;
    padding: 0;

    transition: background .2s ease-in-out
      border .2s ease-in-out;
    border-radius: 2px;

    & .checked-icon {
      position: absolute;
      left: 50%;
      top: 50%;
      background: transparent;

      width: var(--size);
      height: var(--size);
      color: var(--check-color);
      scale: 1 !important;
      margin: 0;

      pointer-events: none;
      font-size: calc(var(--size) / 1.4) !important;
      user-select: none;
      user-drag: none;

      transform: translate(-50%, -50%);
    }
  }
}
