.textarea-container {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;

  resize: var(--resize-direction);
  overflow-x: hidden;
  overflow-y: auto;
}

textarea {
  border: none;
  outline: none;
  background: none;
  width: 100%;
  height: 100%;
  min-height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: inherit;
  position: absolute;
  left: 0;
  top: 0;

  overflow: hidden;
  resize: none;

  transition: opacity .2s;
  opacity: 1;

  &.no-label {
    padding-block: 9px;
  }
}

.input-container:not(.has-content):not(.focused) {
  textarea:not(:focus) {
    opacity: 0;
  }
}

textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active {
  // need this stupid workaround because Chrome just forces
  // the background-color into the input
  transition: background-color 9999s ease-in-out 0s,
    color 9999s ease-in-out 0s;
}
