$growth-origins: top left right center bottom;

@each $origin in $growth-origins {
  .grow-fade-#{$origin}-enter-active,
  .grow-fade-#{$origin}-exit-active {
    transform-origin: #{$origin} !important;
    transition:
      opacity 0.2s,
      scale 0.2s !important;
  }

  .grow-fade-#{$origin}-exit-to {
    scale: 0.8 !important;
    opacity: 0 !important;
  }

  .grow-fade-#{$origin}-enter {
    scale: 0.8 !important;
    opacity: 0 !important;
  }
}
