node_modules
*/.turbo
**/*/.turbo/
.turbo
dist
lib
pnpm-lock.yaml
apps/*/.vercel
apps/*/.solid
package-lock.json
tsconfig.build.tsbuildinfo
tsup.config.bundled_*.mjs
*/tsconfig.build.tsbuildinfo
**/tsconfig.build.tsbuildinfo
