.select-icon {
  --icon-font-size: 24px;

  position: absolute;
  left: calc(100% - var(--icon-font-size) - 8px);
  top: calc(50% - var(--icon-font-size) / 2);
  margin: 0;
  width: var(--icon-font-size);
  height: var(--icon-font-size);
  font-size: var(--icon-font-size);
  user-select: none;
  pointer-events: none;
  transition: transform .2s linear;
  transform-origin: center;
  transform: rotate(0deg);
  color: var(--text-3);

  &.open {
    transform: rotate(180deg);
  }
}

.select-dropdown {
  max-height: calc(26px * 5); // at most five options appearing at once

  .option {
    display: block;

    background: none;
    transition: .2s background;
    font-size: 15px;
    line-height: 20px;

    cursor: pointer;
    padding-inline: 9px;
    padding-block: 9px;

    border-bottom-right-radius: 3px;
    margin-right: 3px;

    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover:not(.active) {
      background: var(--gray-1);
    }
  }

  &.primary {
    .option.active {
      background: var(--lightened-primary);
    }

    &::-webkit-scrollbar-thumb {
      background: var(--primary);
    }
  }
  &.secondary {
    .option.active {
      background: var(--lightened-secondary);
    }

    &::-webkit-scrollbar-thumb {
      background: var(--secondary);
    }
  }
  &.tertiary {
    .option.active {
      background: var(--lightened-tertiary);
    }

    &::-webkit-scrollbar-thumb {
      background: var(--tertiary);
    }
  }
}

