.checkbox {
  position: relative;
  width: fit-content;
  height: fit-content;

  &.small {
    --size: 14px;
  }

  &.medium {
    --size: 20px;
  }

  &.large {
    --size: 28px;
  }

  &.primary {
    --color: var(--primary);
    --check-color: var(--text-primary);
  }

  &.secondary {
    --color: var(--secondary);
    --check-color: var(--text-secondary);
  }

  &.tertiary {
    --color: var(--tertiary);
    --check-color: var(--text-tertiary);
  }

  & > input {
    display: block;
    appearance: none;

    &:not(.disabled) + *,
    &:not(.disabled) {
      cursor: pointer;
    }

    width: var(--size);
    height: var(--size);

    margin: 0;
    padding: 0;

    transition: background .2s ease-in-out
      border .2s ease-in-out;
    border-radius: 2px;

    &:not(.checked) {
      background: transparent;
      border: 2px solid var(--gray-5);
    }

    &.checked {
      border: 2px solid var(--color);
      background: var(--color);
    }

    & + .checked-icon {
      position: absolute;
      left: 50%;
      top: 50%;

      width: var(--size);
      height: var(--size);
      color: var(--check-color);
      scale: 1 !important;
      margin: 0;

      font-size: calc(var(--size) / 1.4) !important;
      user-select: none;
      user-drag: none;

      transform: translate(-50%, -50%);
    }

    &.disabled {
      opacity: 0.3;
      --color: var(--gray-5);
      filter: brightness(95%);

      & + .checked-icon {
        color: var(--gray-0);
      }
    }
  }
}
