@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

  html {
    font-family: Nunito, -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,
    'Helvetica Neue',Arial,'Noto Sans',sans-serif, 'Apple Color Emoji','Segoe UI Emoji',
    'Segoe UI Symbol','Noto Color Emoji';
  }

  body {
    margin: 0;
    background-color: var(--normal-bg);
    color: var(--normal-fg);
  }
}

a {
  text-decoration: none;
  transition: color .3s;
}
a:link {
  color: var(--accent-bg);
}
a:visited, a:link:hover:not(:visited) {
  color: var(--muted-bg);
  text-decoration: underline;
}
* {
  color: inherit;
  box-sizing: border-box;
}

::selection {
  background: var(--accent-bg-20);
}

:focus-visible {
  outline: 1px solid var(--accent-bg);
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: inherit;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--accent-bg);
  box-shadow: -1px 0px 5px rgba(0, 0, 0, 0.25);
}
