@function add-transparency($color, $percentage) {
  @return color-mix(in srgb, $color, transparent $percentage);
}

.toggler-container {
  width: fit-content;

  & > .toggler {
    width: fit-content;
    box-sizing: content-box;
    padding-inline: 7px;
    padding-block: 2px;

    & > input {
      &.on.primary {
        --color: var(--primary);
      }
      &.on.secondary {
        --color: var(--secondary);
      }
      &.on.tertiary {
        --color: var(--tertiary);
      }

      &.off {
        --color: var(--gray-4);
      }

      &.disabled {
        opacity: 0.3;
        --color: var(--gray-5);
        filter: brightness(95%);
      }

      &.small {
        --width: 24px;
      }
      &.medium {
        --width: 32px;
      }
      &.large {
        --width: 40px
      }

      -webkit-appearance: none;
      appearance: none;

      background: add-transparency(var(--color), 40%);
      transition: background .2s ease-in-out;
      border-radius: calc(var(--width) / 2);

      &:not(.disabled) {
        cursor: pointer;
      }

      height: calc(var(--width) / 2);
      width: var(--width);
      display: block;

      position: relative;
      margin-block: 5px;

      &::after {
        content: '';
        position: absolute;
        background: var(--color);

        width: calc(var(--width) * 0.625);
        height: calc(var(--width) * 0.625);
        border-radius: 50%;
        transform: translate(-50%, -50%);

        transition: left .2s ease-in-out,
          background .2s ease-in-out;
      }

      &.on::after {
        left: 100%;
        top: 50%;
      }
      &.off::after {
        left: 0%;
        top: 50%;
      }
    }
  }
}

