.radio-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 8px;

  .radio {
    position: relative;

    &.small {
      --size: 18px;
    }

    &.medium {
      --size: 22px;
    }

    &.large {
      --size: 30px;
    }

    width: var(--size);
    height: var(--size);

    &:not(.disabled) {
      & + label {
        cursor: pointer !important;
        pointer-events: inherit !important;
      }

      & {
        cursor: pointer;

        &.checked .radio-internal {
          border-color: var(--color);
        }
      }
    }

    &.disabled {
      & .ripple-container {
        cursor: default;
      }

      & .radio-internal,
      & + label {
        opacity: 0.3;
        --color: var(--gray-5);
        filter: brightness(95%);

        & + .checked-icon {
          color: var(--gray-0);
        }
      }
    }

    &.checked::after {
      opacity: 1;
    }

    & .radio-internal {
      display: block;
      appearance: none;
      z-index: 2;

      input {
        appearance: none;
        opacity: 0;
      }

      position: relative;
      width: var(--size) !important;
      height: var(--size) !important;

      margin: 0;
      padding: 0;

      border-radius: 50%;

      background: transparent;
      border: 2px solid var(--gray-5);

      transition: border .2s ease-in-out;
    }

    &::after {
      content: '';
      position: absolute;

      left: calc(50% + 0.3px);
      top: calc(50% + 0.3px);

      width: 65%;
      height: 65%;
      border-radius: 50%;
      transform: translate(-50%, -50%);

      background: var(--color);
      opacity: 0;

      transition: opacity .2s ease-in-out;
    }
  }
}

