.clickable-signalizer-container {
  position: relative;
  width: max-content;
  height: max-content;
  padding: 0;
  margin: 0;

  & > .clickable-signalizer {
    position: absolute;
    left: calc(50% - 1px);
    top: 50%;
    pointer-events: none;

    z-index: 1;

    width: calc(100% + 15px);
    height: calc(100% + 15px);
    transform: translate(-50%, -50%);

    background: var(--color);
    opacity: 0.32;
    border-radius: 50%;

    transition: background .2s ease-in-out;
  }
}
