.clickable-signalizer-container {
  position: relative;
  width: max-content;
  height: max-content;
  padding: 0;
  margin: 0;

  & > .clickable-signalizer {
    position: absolute;
    left: calc(3.5px - 50%);
    top: calc(3.5px - 50%);
    // transform: translate(-50%, -50%);

    z-index: 1;

    width: calc(100% + 15px);
    height: calc(100% + 15px);

    background: var(--color);
    opacity: 0.32;
    border-radius: 50%;

    transition: background .2s ease-in-out;
  }
}
