@import "../../../theme";

.steps-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-block: 30px;
  width: 100%;
  padding-inline: 10px;

  .step {
    display: flex;
    width: 100%;
    position: relative;

    & .step-info {
      position: relative;
      
      & > .step-title {
        font-weight: 700;
        max-width: 100%;
        font-size: 14px;
        margin: 0;
        transition: .4s;
        color: $gray-4;
      }

      & > .step-description {
        position: absolute;
        width: fit-content;
        font-size: 14px;
        width: 200px;
        font-weight: 700;
        color: $gray-4;
        left: 0;
        top: 3px;
      }
    }

    &.current-step .step-title,
    &.done-step .step-title {
      font-weight: 800;
      color: $gray-5;
      line-height: 22px;
    }

    & > .step-content {
      display: flex;
      align-items: center;
      gap: 10px;
      position: relative;
      height: fit-content;

      & > .step-circle {
        border-radius: 50%;
        transition: background-color .4s ease-in-out,
                    color .4s ease-in-out;
        background: $gray-3;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
        color: #fff;
        box-sizing: border-box;
        user-select: none;
        width: 32px;
        height: 32px;
        font-size: 15px;
        min-width: 32px;
        font-size: 20px;
        min-height: 32px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &.current-step > .step-content > .step-circle {
      background: $primary;
    }

    &.done-step > .step-content > .step-circle {
      background: rgba(201, 95, 34, 0.1);
      background: $lightened-primary;
      color: $primary;
      font-weight: bolder;
    }

    &:not(:last-of-type)::after { 
      content: '';
      position: absolute;
      top: 50%;
      /*    this variable is set by SolidJS and then used here */
      left: calc(var(--step-content-width) + 10px);
      width: calc(100% - var(--step-content-width) - 20px);
      height: 3px;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
      transition: background-color .4s ease-in-out,
                  color .4s ease-in-out;
      background: $gray-3;
    }

    &.current-step:not(:last-of-type)::after {
      animation: grow-background-gradient .4s linear;
      background: linear-gradient(90deg, 
      $primary 25%, $gray-3 75%);
      background-position: 330% 50%;
      background-size: 400% 100%;
    }

    @keyframes grow-background-gradient {
      0% {
        background-position: 370% 100%;
      }
      100% {
        background-position: 330% 100%;
      }
    }

    &.done-step:not(:last-of-type)::after {
      background: $primary;
    }
  }
}
