

.typography {
  line-height: 1.5;
  font-family: Nunito, -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,
  'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  display: block;
  margin-block: 5px;
}
