@import "../../../theme";

button {
  background: var(--bg-color);
  color: #fff;
  display: inline-block;
  width: fit-content;
  box-sizing: border-box;
  border: none;
  outline: none;
  border-radius: 3px;
  display: inline-block;
  transition: filter .2s ease-in,
              box-shadow .2s linear;
  user-select: none;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

button.small {
  padding-block: 2px;
  padding-inline: 10px;
  font-size: 10px;
}

button.medium {
  padding-block: 5px;
  padding-inline: 14px;
  font-size: 14px;
}

button.large {
  padding-block: 10px;
  padding-inline: 43px;
  font-size: 16px;
  text-transform: uppercase;
}

button:hover {
  filter: brightness(85%);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

button.empty {
  color: $gray-5;
  border: 1px solid var(--bg-color);
  filter: none;
  transition: .2s;

  &:hover {
    border: 1px solid $primary;
  }
}

