.collapse-enter-active,
.collapse-exit-active {
  transition: max-height 0.3s !important;
  height: auto !important;
  overflow-y: hidden !important;
}

.collapse-enter-to,
.collapse-exit {
  max-height: var(--expected-height) !important;
}

.collapse-exit-to,
.collapse-enter {
  max-height: 0 !important;
}
