@function add-transparency($color, $percentage) {
  @return color-mix(in srgb, $color, transparent $percentage);
}

.code-inline {
  padding: 2px;
  --transparency: 10%;
  border-radius: 3px;
  background: add-transparency(var(--floating-bg), var(--transparency));
  border: 1px solid var(--floating-border);
}
