.box {
  padding-inline: 18px;
  padding-block: 20px;
  margin-block: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%;

  background: var(--floating-bg);
  border: var(--floating-border);
  color: var(--floating-fg);
}
