.input {
  border: none;
  outline: none;
  background: none;
  width: 100%;
  height: min-content;
  box-sizing: border-box;
  position: absolute;
  padding: inherit;
  color: var(--floating-fg);
  font-family: inherit;
  left: 0px;
  top: 0px;

  transition: opacity .2s;
  opacity: 1;

  &.no-label {
    padding-block: 9px;
  }
}

.input-container:not(.has-content):not(.focused) {
  .input:not(:focus) {
    opacity: 0;
  }
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
  // need this stupid workaround because Chrome just forces
  // the background-color/color into the input
  transition: background-color 9999s ease-in-out 0s,
    color 9999s ease-in-out 0s;
}

// Remove annoying up and down arrows from all number type of input
.input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
