.input-container {
  width: 100%;
  min-height: 54px;
  height: fit-content;
  margin: 0;
  padding: 0;
  position: relative;

  border: 1px solid var(--floating-border);
  border-radius: 10px;
  outline: none !important;

  font-size: 14px;
  padding-inline: 20px;
  padding-block: 14px;

  &.focused, &:focus, &:focus-visible {
    border-color: var(--color);
  }

  &.has-label {
    padding-top: 20px;
    padding-bottom: 8px;
  }

  transition: .2s filter linear,
    .2s background-color linear,
    .1s border linear;

  // these are the default values
  // sets the colors based on the variables created above
  background: var(--floating-bg);
  color: var(--floating-fg);

  .input-container-icon {
    --icon-font-size: 16px;
    background: var(--floating-bg);

    position: absolute;
    width: min-content;
    height: min-content;
    left: calc(100% - var(--icon-font-size) - 20px);
    top: calc(50% - var(--icon-font-size) / 2);

    box-sizing: content-box;
    padding: 0;
    margin: 0;

    color: var(--label-color);
    font-size: var(--icon-font-size);

    user-select: none;
    pointer-events: none;
  }

  label {
    font-weight: bolder;
    font-size: 12px;

    position: absolute;
    left: 20px;
    top: 27px;
    transform: translateY(-50%);
    transform-origin: top left;
  }

  &.focused label,
  &.has-content label {
    font-weight: bold;
    top: 18px;
    opacity: 0.7;
    transform: translateY(-50%) scale(0.666);
  }
}

.input-container.disabled {
  --bg: var(--muted-bg);
  --fg: var(--muted-fg);
  cursor: none;
}

