.collapse-enter-active,
.collapse-exit-active {
  transition: max-height .3s !important;
  overflow-y: hidden !important;
}

.collapse-enter-to,
.collapse-exit {
  max-height: var(--expected-height);
}

.collapse-exit-to,
.collapse-enter {
  max-height: 0 !important;
}