.slider-value-tooltip {
  background: var(--color);
  color: var(--text-color);

  & > .tooltip-content > .icon {
    color: var(--color);
  }
}

.slider {
  width: 100%;
  height: min-content;

  margin-block: 5px;

  position: relative;

  &:not(.disabled) {
    cursor: pointer;
  }

  &.small {
    --height: 0.25rem;
    --thumb-diameter: 0.7rem;
  }

  &.medium {
    --height: 0.45rem;
    --thumb-diameter: 0.9rem;
  }

  &.large {
    --height: 0.65rem;
    --thumb-diameter: 1.2rem;
  }

  * {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  & > * {
    display: block;
  }

  & > .rail {
    display: block;

    width: 100%;
    height: var(--height);

    background: var(--deeper-bg);
    border-radius: calc(var(--height) / 3);
  }

  &.disabled {
    & > .rail {
      background: var(--muted-bg);
    }

    opacity: 0.4;
    filter: brightness(95%);

    --color: var(--muted-fg);
  }

  & > .trunk {
    display: block;
    position: absolute;

    left: 0;
    top: 50%;
    transform: translateY(-50%);

    width: var(--value-percentage);
    height: var(--height);
    border-radius: calc(var(--height) * 2 / 3);
    background: var(--color);
  }

  &::after {
    content: '';
    position: absolute;

    left: var(--value-percentage);
    top: 50%;

    width: var(--thumb-diameter);
    height: var(--thumb-diameter);

    transform: translate(-50%, -50%) scale(1.6);

    border-radius: 50%;
    pointer-events: none;

    transition: .2s opacity ease-in;
  }

  &.focused {
    &::after {
      opacity: 0.32;
    }
  }

  & > .thumb {
    position: absolute;

    width: var(--thumb-diameter);
    height: var(--thumb-diameter);
    left: var(--value-percentage);
    top: 50%;
    transform: translate(-50%, -50%);
    background: var(--color);

    border-radius: 50%;

    & > input {
      width: 100%;
      height: 100%;
      overflow: hidden;
      white-space: nowrap;
      padding: 0;
      margin: 0;

      position: absolute;
      clip: rect(0px, 0px, 0px, 0px);
      border: 0px none;
      cursor: pointer;

      direction: ltr;

      &:focus-visible {
        outline: none;
      }
    }
  }
}
