.radio {
  position: relative;
  width: fit-content;
  height: fit-content;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;

  &.small {
    --size: 18px;
  }

  &.medium {
    --size: 22px;
  }

  &.large {
    --size: 30px;
  }

  &.primary {
    --color: var(--primary);
    --lightened-color: var(--lightened-primary);
    --check-color: var(--text-primary);
  }

  &.secondary {
    --color: var(--secondary);
    --lightened-color: var(--lightened-secondary);
    --check-color: var(--text-secondary);
  }

  &.tertiary {
    --color: var(--tertiary);
    --lightened-color: var(--lightened-tertiary);
    --check-color: var(--text-tertiary);
  }

  &:not(.disabled) {
    cursor: pointer;

    & * {
      cursor: pointer;
    }

    &:not(.checked) {
      --lightened-color: var(--gray-5);

      & input:hover::before,
      & input:focus::before {
        opacity: .32;
      }
    }

    &.checked input {
      border: 2px solid var(--color);

    }

    & input {
      &:hover::before,
      &:focus::before {
        opacity: 1;
      }
    }
  }

  &.checked input::after {
    opacity: 1;
  }

  &.disabled input {
    opacity: 0.3;
    --color: var(--gray-5);
    filter: brightness(95%);

    & + .checked-icon {
      color: var(--gray-0);
    }
  }

  & input {
    display: block;
    appearance: none;
    z-index: 2;

    position: relative;
    width: var(--size);
    height: var(--size);

    margin: 0;
    padding: 0;

    border-radius: 50%;

    background: transparent;
    border: 2px solid var(--gray-5);

    transition: border .2s ease-in-out;

    &::before {
      content: '';
      position: absolute;
      z-index: 1;

      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      width: min(200%, 45px);
      height: min(200%, 45px);

      background: var(--lightened-color);
      border-radius: 50%;

      opacity: 0;
      transition: opacity .2s ease-in-out,
        background .2s ease-in-out;
    }

    &::after {
      content: '';
      position: absolute;

      left: 50%;
      top: 50%;

      width: 80%;
      height: 80%;
      border-radius: 50%;
      transform: translate(-50%, -50%);

      background: var(--color);
      opacity: 0;

      transition: opacity .2s ease-in-out;
    }
  }
}
