.slider {
  width: 100%;
  height: min-content;

  margin-block: 5px;

  position: relative;

  &:not(.disabled) {
    cursor: pointer;
  }

  &.small {
    --height: 4px;
    --thumb-diameter: 10px;
  }

  &.medium {
    --height: 6px;
    --thumb-diameter: 16px;
  }

  &.large {
    --height: 12px;
    --thumb-diameter: 24px;
  }

  * {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  & > * {
    display: block;
  }

  & > .rail {
    display: block;

    width: 100%;
    height: var(--height);

    background: var(--gray-4);
    border-radius: calc(var(--height) / 3);
  }

  &.primary {
    --color: var(--primary);
  }
  &.secondary {
    --color: var(--secondary);
  }
  &.tertiary {
    --color: var(--tertiary);
  }

  &.disabled {
    opacity: 0.4;
    filter: brightness(95%);

    --color: var(--text-2);
  }

  & > .trunk {
    display: block;
    position: absolute;

    left: 0;
    top: 50%;
    transform: translateY(-50%);

    width: var(--value-percentage);
    height: var(--height);
    border-radius: calc(var(--height) * 2 / 3);
    background: var(--color);
  }

  &::after {
    content: '';
    position: absolute;

    left: var(--value-percentage);
    top: 50%;

    width: var(--thumb-diameter);
    height: var(--thumb-diameter);

    transform: translate(-50%, -50%) scale(1.6);

    border-radius: 50%;
    pointer-events: none;

    transition: .2s background ease-in;
  }

  &.primary.focused::after {
    background: var(--lightened-primary);
  }
  &.secondary.focused::after {
    background: var(--lightened-secondary);
  }
  &.tertiary.focused::after {
    background: var(--lightened-tertiary);
  }

  & > .thumb {
    position: absolute;

    width: var(--thumb-diameter);
    height: var(--thumb-diameter);
    left: var(--value-percentage);
    top: 50%;
    transform: translate(-50%, -50%);
    background: var(--color);

    border-radius: 50%;

    & > input {
      width: 100%;
      height: 100%;
      overflow: hidden;
      white-space: nowrap;
      padding: 0;
      margin: 0;

      position: absolute;
      clip: rect(0px, 0px, 0px, 0px);
      border: 0px none;
      cursor: pointer;

      direction: ltr;
    }
  }
}
