.steps-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-block: 30px;
  width: 100%;
  padding-inline: 10px;

  .step {
    display: flex;
    position: relative;

    & .step-info {
      position: relative;

      & > .step-title {
        font-weight: 700;
        max-width: 100%;
        font-size: 14px;
        margin: 0;
        white-space: nowrap;
        transition: .4s;
        color: var(--normal-fg);
      }

      & > .step-description {
        position: absolute;
        width: max-content;
        font-size: 14px;
        max-width: 200px;
        font-weight: 700;
        color: var(--floating-fg);
        left: 0;
        top: 3px;
      }
    }

    &.current-step .step-title,
    &.done-step .step-title {
      font-weight: 800;
      color: var(--normal-fg);
      line-height: 22px;
    }

    & > .step-content {
      display: flex;
      align-items: center;
      gap: 10px;
      position: relative;
      height: fit-content;

      & > .step-circle {
        border-radius: 50%;
        transition: background-color .4s ease-in-out,
                    color .4s ease-in-out;
        background: var(--floating-bg);
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
        color: #fff;
        box-sizing: border-box;
        user-select: none;
        width: 32px;
        height: 32px;
        min-width: 32px;
        font-size: 16px;
        min-height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &.current-step > .step-content > .step-circle {
      background: var(--primary);
    }

    &.done-step > .step-content > .step-circle {
      background: var(--lightened-primary);
      color: var(--primary);
      font-weight: bolder;
    }

    &.done-step::after {
      background: var(--primary) !important;
    }
  }

  &.vertical {
    flex-direction: column;

    .step {
      height: 100%;
      padding-right: var(--description-offset);

      &:last-of-type {
        box-sizing: content-box;
        height: var(--step-content-height);
      }

      &.current-step:not(:last-of-type)::after {
        animation: grow-background-gradient-vertical .4s linear;
        background: linear-gradient(180deg,
        var(--primary) 25%, var(--gray-3) 75%);
        background-position: 50% 330%;
        background-size: 100% 400%;
      }

      &:not(:last-of-type)::after {
        content: '';
        position: absolute;
        left: 15px;
        /*    this variable is set with JS and then used here */
        top: calc(var(--step-content-height) + 10px);
        height: calc(100% - var(--step-content-height) - 20px);
        width: 3px;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
        transition: background-color .4s ease-in-out,
                    color .4s ease-in-out;
        background: var(--gray-3);
      }
    }
  }

  &.horizontal .step {
    width: 100%;

    &:last-of-type {
      box-sizing: content-box;
      padding-right: var(--description-offset);
      width: var(--step-content-width);
    }

    &.current-step:not(:last-of-type)::after {
      animation: grow-background-gradient-horizontal .4s linear;
      background: linear-gradient(90deg,
      var(--primary) 25%, var(--gray-3) 75%);
      background-position: 330% 50%;
      background-size: 400% 100%;
    }

    &:not(:last-of-type)::after {
      content: '';
      position: absolute;
      top: 50%;
        /*    this variable is set by SolidJS and then used here */
      left: calc(var(--step-content-width) + 10px);
      width: calc(100% - var(--step-content-width) - 20px);
      height: 3px;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
      transition: background-color .4s ease-in-out,
                  color .4s ease-in-out;
      background: var(--gray-3);
    }
  }
}

@keyframes grow-background-gradient-horizontal {
  0% {
    background-position: 370% 100%;
  }
  100% {
    background-position: 330% 100%;
  }
}

@keyframes grow-background-gradient-vertical {
  0% {
    background-position: 100% 370%;
  }
  100% {
    background-position: 100% 330%;
  }
}
