.dropdown {
  position: absolute;
  left: var(--achor-left);
  top: calc(var(--achor-top)
    + var(--anchor-height)
    + var(--offset-from-anchor));
  z-index: 12;

  width: var(--anchor-width);
  height: fit-content;

  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;

  background: var(--floating-bg);
  color: var(--floating-fg);
  border-radius: 2px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
