.tooltip {
  &.top {
    translate: -50% calc(-100% - var(--offset-from-anchor));
  }

  &.left {
    translate: calc(-100% - var(--offset-from-anchor)) -50%;
  }

  &.right {
    translate: 0 -50%;
  }

  &.bottom {
    translate: -50%;
  }
}
