.collapse-enter-active,
.collapse-exit-active {
  transition: grid-template-rows 225ms !important;

  overflow: hidden !important;
  > * {
    transition: padding 225ms !important;
    overflow: hidden !important;
  }
}

.collapse-enter-to,
.collapse-exit {
  grid-template-rows: 1fr !important;
}

.collapse-exit-to,
.collapse-enter {
  grid-template-rows: 0fr !important;

  > * {
    padding-block: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}
