@function add-transparency($color, $percentage) {
  @return color-mix(in srgb, $color, transparent $percentage);
}

.select-icon {
  transition: transform .2s linear;
  transform-origin: center;
  transform: rotate(0deg);

  &.open {
    transform: rotate(180deg);
  }
}

.select-dropdown {
  max-height: calc(26px * 5); // at most five options appearing at once

  .option {
    display: block;

    background: none;
    transition: .2s background;
    font-size: 15px;
    line-height: 20px;

    cursor: pointer;
    padding-inline: 9px;
    padding-block: 9px;

    border-bottom-right-radius: 3px;
    margin-right: 3px;

    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover:not(.active) {
      background: var(--gray-1);
    }
  }

  .option.active {
    background: add-transparency(var(--color), 68%);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color);
  }
}

