.select-icon {
  transition: transform .2s linear;
  transform-origin: center;
  transform: rotate(0deg);

  &.open {
    transform: rotate(180deg);
  }
}

.select-dropdown {
  display: flex;
  flex-direction: column;
  gap: 7px;
  max-height: calc(26px * 5 + 7px * 4); // at most five options appearing at once

  .option {
    position: relative;

    & > .active-check {
      position: absolute;
      left: 100%;
      top: 50%;
      transform: translate(calc(-100% - 12px), -50%);
    }
  }
}

