.datepicker-dropdown {
  height: 330px;
  width: 330px;
  overflow: hidden;

  cursor: default;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 2fr 8fr;

  .dropdown-header,
  .dropdown-content {
    padding-inline: 15px;
  }

  .dropdown-header {
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .selection-type-button-chooser {
      width: fit-content;
      display: flex;
      gap: 5px;
    }
  }

  .dropdown-content {
    padding-block: 10px;

    display: grid;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    & > * {
      display: grid;

      width: 100%;
      height: 100%;

      overflow-y: auto;
      overflow-x: hidden;

      & > .entry {
        width: 100%;
        height: 100%;

        box-sizing: border-box;

        display: flex !important;

        justify-content: center;
        align-items: center;

        text-align: center;
      }
    }

    .years-listing {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .months-listing {
      grid-template-columns: 1fr 1fr 1fr;
    }

    .days-listing {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

      .entry {
        &.header *,
        &.outside-of-view * {
          color: var(--muted-fg) !important;
        }
      }
    }
  }
}
