button {
  display: inline-flex;
  gap: 5px;
  align-items: center;

  height: max-content;

  width: fit-content;
  box-sizing: border-box;

  border: none;
  outline: none;
  border-radius: 3px;

  transition: background-color .2s ease-in,
              outline .2s ease-in,
              color .2s ease-in,
              box-shadow .2s linear;

  font-family: inherit;
  user-select: none;
  vertical-align: middle;

  -webkit-tap-highlight-color: transparent;

  &:not(.disabled) {
    &.filled {
      background: var(--bg);
      color: var(--fg);

      &:hover {
        background: var(--hover);
      }
    }
    &.outlined {
      outline: 2px solid var(--bg);
      color: var(--normal-fg);

      &:hover {
        outline-color: var(--hover);
        color: var(--fg);
      }
    }
  }

  &.disabled {
    background: var(--muted-bg);
    color: var(--muted-fg);
    box-shadow: none;
  }

  &.small {
    padding-block: 5px;
    padding-inline: 9px;
    font-size: 0.8em;
  }

  &.medium {
    padding-block: 9px;
    padding-inline: 12px;
    font-size: 1em;
    font-weight: 700;
  }

  &.large {
    padding-block: 10px;
    padding-inline: 20px;
    font-size: 1.1em;
    font-weight: bolder;
  }
}
