@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: var(--normal-bg);
  color: var(--normal-fg);
}

* {
  color: inherit;
  box-sizing: border-box;
}

::selection {
  background: var(--accent-bg-20);
}

:focus-visible {
  outline: 1px solid var(--accent-bg);
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: inherit;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--accent-bg);
  box-shadow: -1px 0px 5px rgba(0, 0, 0, 0.25);
}
