.terraprisma-table-box {
  padding: 0;
  padding-inline: 0;
  padding-block: 0;

  border: 1px solid var(--floating-border);
}

.terraprisma-table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  appearance: none;
  box-sizing: border-box;
  margin-block: 15px;

  &.boxed {
    margin: 0;
  }

  td, th {
    padding-block: 9px;
    padding-inline: 18px;
  }

  &.compact {
    td, th {
      padding-block: 5px;
      padding-inline: 12px;
    }
  }

  tr {
    &:not(:first-of-type) {
      border-top: 1px solid var(--floating-border);
    }

    td {
      color: var(--normal-fg);
      font-weight: 600;
      font-size: 15px;
    }

    th {
      color: var(--floating-fg);
      font-weight: bolder;
      font-size: 15px;
    }

    th, td {
      &.align-left {
        text-align: left;
      }
      &.align-right {
        text-align: right;
      }
      &.align-center {
        text-align: center;
      }
    }
  }
}
